@font-face {
  font-family: titulos;
  src: url(Vogue.ttf);
}

@font-face {
  font-family: subtitulo;
  src: url(LTPerfume-2.ttf);
}

@font-face {
  font-family: welcome;
  src: url(Blissfull\ Beauty\ Demo.otf);
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  font-family: "Baskervville SC", serif;
}
header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 5px;
}

.contenedor-nav-logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

nav ul {
  display: flex;
  gap: 130px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  justify-content: space-between;
}
nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
  font-family: titulos;
}

nav ul li a:hover {
  background-color: #c5c732;
  border-radius: 35px;
}

.contenedor-nav-logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

/*PRIMER PARTE DEL BODY*/
.grid-inicio {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  height: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}
/*texto encimado en la imagen*/
.texto {
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  /* display: flex;*/
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  border-radius: 5px 5px 5px 5px;
  justify-content: center;

  h1 {
    font-size: 170px;
    color: whitesmoke;
    z-index: 1;
    width: 100%;
    font-family: welcome;
    font-weight: lighter;
  }
}

.texto-port {
  p {
    font-size: 200px;
    margin-left: 200px;
    margin-top: -160px;
    color: whitesmoke;
    font-family: subtitulo;
    z-index: 1;
  }
}
/*imagen*/
.fondo-imagen {
  grid-column: 4 / 7;
  grid-row: 1 / 7;
  background-color: #daedff;

  border-radius: 15px 15px 15px 15px;
}
/*Cuadradito*/
.cuadrado-azul {
  margin-left: 120px;
  margin-right: 120px;
  grid-column: 1 / 3;
  grid-row: 6/ 7;
  background-color: #daedff;
  border-radius: 15px 15px 15px 15px;
}
/*SEARCH NOW*/
.formulario {
  grid-column: 2 / 5;
  grid-row: 5 / 7;
  margin-bottom: 70px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  z-index: 1;
}

/*formulario encimado*/
.formulario {
  display: flex;
  justify-content: space-around;
}
.search-now {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #037366;
  color: white;
  border: none;
  width: 210px;
  height: 80px;
  border-radius: 20px 20px 20px 20px;
  font-size: 20px;
}

.contenedor-principal-empleos {
  width: 100%;
  height: 100%;
  margin-bottom: 450px;
  background-color: black;
  h1 {
    color: whitesmoke;
    font-family: welcome;
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
  }
}

.grid-gallery {
  display: grid;
  width: 100%;
  height: 75%;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  grid-auto-flow: dense;
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.grid-gallery__item:nth-child(11n + 1) {
  grid-column: span 1;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n + 2) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n + 3) {
  grid-column: span 3;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n + 4) {
  grid-column: span 1;
  grid-row: span 3;
}

.grid-gallery__item:nth-child(11n + 5) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n + 6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n + 7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n + 8) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n + 9) {
  grid-column: span 1;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n + 10) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n + 11) {
  grid-column: span 3;
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*TERCERA PARTE */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 775px;
}
.imagen-team {
  width: 50%;
  height: 100%;
  background-image: url("https://www.pngkit.com/png/full/416-4163084_ejecutivos-felices-png-consejos-para-lograr-entrevistas-de.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.texto-cv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  h1 {
    font-size: 130px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 150px;
    color: white;
    font-family: welcome;
    font-weight: lighter;
  }
  h2 {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 150px;
    color: white;
    font-family: subtitulo;
    font-weight: lighter;
  }
  p {
    width: 45%;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 150px;
    color: white;
    font-family: welcome;
  }
  h3 {
    width: 45%;
    font-size: 40px;
    margin-top: -37px;
    margin-bottom: -7px;
    margin-left: 270px;
    margin-right: 150px;
    color: white;
    font-weight: lighter;
    font-family: subtitulo;
  }
}

.texto-cv2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 130px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-family: welcome;
    font-weight: lighter;
  }
  h2 {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 150px;
    color: white;
    font-family: subtitulo;
    font-weight: lighter;
  }
  p {
    width: 45%;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 150px;
    color: white;
    font-family: welcome;
  }
  h3 {
    width: 45%;
    font-size: 40px;
    margin-top: -37px;
    margin-bottom: -7px;
    margin-left: 270px;
    margin-right: 150px;
    color: white;
    font-weight: lighter;
    font-family: subtitulo;
  }
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  border-radius: 10px;
}

.box {
  width: 300px;
  height: 300px;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  background-color: #fafafa10;
  border-radius: 10px;
}

.box:hover {
  width: 300px;
  height: 300px;
  transition: background-color 0.5s ease;
  background-color: #fafafaac;
  border-radius: 10px;
}
/*CUARTA PARTE */
footer {
  display: flex;
  margin-top: 200px;
  justify-content: space-around;
  background-color: black;
  padding: 40px 20px;
  color: #ffffff;
  font-size: 30px;
  font-family: welcome;
  font-weight: lighter;
  flex-wrap: nowrap;
  h1 {
    text-align: right;
    margin-top: 200px;
    font-size: 100px;

    color: white;
    font-family: welcome;
    font-weight: lighter;
  }
}

.form {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  background-color: #fafafa10;
  border-radius: 20px;
  padding: 30px;
  width: 600px;
  height: 350px;
}

.form::before {
  content: "";
  height: 358px;
  width: 309px;
  z-index: -1;
}

.button {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background: #ffffff;
  color: black;
  padding: 0.7em 5.5em;
  display: flex;
  align-items: center;
  border: 2px solid #66da4300;
  border-radius: 5em;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #ffffff;
  background: #00000000;
  color: #ffffff;
}

.button:active {
  border: 2px solid #66da4300;
  background: #ffffff;
  color: black;
}

.input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #66da4300;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}

.input:focus {
  border: 1px solid #66da4300;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: white;
}

.input::placeholder {
  color: #ffffff;
}

.textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: calc(100% - 10px);
  padding: 8px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #66da4300;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  color: #ffffff;
}

.textarea::placeholder {
  color: #ffffff;
}

.textarea:focus {
  border: 1px solid #66da4300;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: white;
}
